name = "my-app"
type = "javascript"
account_id = ""
workers_dev = true
route = ""
zone_id = ""

[env.production]
vars = { ENVIRONMENT = "production" }

[build]
command = "npm run build"
cwd = "./"
watch_paths = ["src/**/*.ts"]

[[env.production.routes]]
pattern = "example.com/*"
zone_name = "example.com"
